<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>iTepeapulco</title>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
	<header class="cabecera">
		<div class="titulo">
			iTepeapulco
		</div>
	</header>

	<nav>
		<li>Inicio</li>
		<li>Noticias</li>
		<li>Galeria</li>
		<li>Negocios</li>
		<li>#Emergencia</li>
	</nav>

	<section class="noticias">
		<div><h2>Noticias</h2></div>
		<h3>Ven baja calidad en dependencias de Tepeapulco</h3>
		<p>Peor calificación, de 0, la obtuvo la Instancia de la Juventud, revela documento</p>

		<h3>Niegan Fondo Metropolitano para Tepeapulco</h3>
		<p>Falta de recurso frena proyectos en demarcación, asegura director de Planeación municipal</p>

		<h3>Alistan un cartel de toros en Tepeapulco</h3>
		<p>La empresa Arte + Casta Innovación Taurina S.A. de C.V. hará su presentación en sociedad el próximo 16 de septiembre en la plaza de toros de San Marcos de Tepeapulco</p>

		<div class="nmas"></div>
	</section>

	<section class="galeria">
		<div><h2>Galeria</h2></div>
		<div>
			<img src="galeria/1.jpg" width="95%" height="200px">
			<div class="caja">
				<p class="imgtitulo">Descripcion de la imagen</p>
				<p class="autor">El mero charro</p>
			</div>
		</div>
		<div>
			<img src="galeria/2.jpg" width="95%" height="200px">
			<div class="caja">
				<p class="imgtitulo">descripcion de la imagen</p>
				<p class="autor">Oscar Tellez G</p
			</div>
			>
		</div>

		<div class="gmas"></div>
	</section>

	<section class="negocios">
		<div>
			<h2>Negocios</h2>
		</div>
		<a href="productos-y-servicios.html">Productos y Servicios</a>
		<a href="compra-y-venta.html">Compra y Venta</a>
		<a href="empleo.html">Empleo</a>

		<div class="nemas"></div>
	</section>

	<section class="emergencia">
		<div>
			<h2>#Emergencia</h2>
		</div>
		<h3 class="e0">066</h3>
		<h2 class="e0des">Emergencias</h2>
		<h3 class="e1">058</h3>
		<h2 class="e1des">Bomberos</h2>
		<h3 class="e2">068</h3>
		<h2 class="e2des">Cruz Roja</h2>

		<div class="emas"></div>
	</section>

	<footer>
		<section class="footer">
			<div class="fup"></div>
				<a href="">Nosotros</a>
				<a href="">Contacto</a>
				<a href="">Terminos de Servicio</a>
				<a href="">Mapa del Sitio</a>
			<div class="oscartti">
				<img src="images/oscartti.png" width="250px" height="70px">
			</div>
		</section>
	</footer>
</body>
</html>