<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>iTepeapulco</title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<header class="cabecera">
		<div class="titulo">
			iTepeapulco
		</div>
	</header>

	<nav id="menu">
		<ul>
			<li class="menuNoticias"><a href="#">Noticias</a></li>
			<li class="menuGaleria"><a href="#">Galeria</a></li>
			<li class="menuNegocios"><a href="#">Negocios</a></li>
			<li class="menuEmergencia"><a href="#">#Emergencia</a></li>
		</ul>
		</nav>
	<section class="noticias">
		<div class="contentTituloSeccion">
			<h2 class="tituloSeccion">Noticias</h2>
		</div>
		<h3>Ven baja calidad en dependencias de Tepeapulco</h3>
		<span class="fechaNoticia">27 Agosto 2014</span>
		</div>
		<p>Peor calificación, de 0, la obtuvo la Instancia de la Juventud, revela documento</p>

		<h3>Niegan Fondo Metropolitano para Tepeapulco</h3>
		<span class="fechaNoticia">27 Agosto 2014</span>
		<p>Falta de recurso frena proyectos en demarcación, asegura director de Planeación municipal</p>

		<h3>Alistan un cartel de toros en Tepeapulco</h3>
		<span class="fechaNoticia">27 Agosto 2014</span>
		<p>La empresa Arte + Casta Innovación Taurina S.A. de C.V. hará su presentación en sociedad el próximo 16 de septiembre en la plaza de toros de San Marcos de Tepeapulco</p>

		<div class="noticiasMas">
			<div class="noticiasMasH"></div>
			<div class="noticiasMasV"></div>
		</div>
	</section>

	<section class="galeria">
		<div class="contentTituloSeccion">
			<h2 class="tituloSeccion">Galeria</h2>
		</div>
		<figure class="galeriaImageContainer">
			<!--<img src="../static/images/img01.jpg" width="95%" height="200px">-->
			<div class="galeriaImageDescription">
				<p class="imgTitulo">Un charo muy Feliz</p>
				<p class="autor">Crossvera</p>
			</div>
		</figure>
		<figure class="galeriaImageContainer">
			<!--<img src="../static/images/img01.jpg" width="95%" height="200px">-->
			<div class="galeriaImageDescription">
				<p class="imgTitulo">Torre de electricidad y arboles</p>
				<p class="autor">Crossvera</p>
			</div>
		</figure>

		<div class="galeriaMas">
			<div class="galeriaMasH"></div>
			<div class="galeriaMasV"></div>
		</div>
	</section>

	<section class="negocios">
		<div class="contentTituloSeccion">
			<h2 class="tituloSeccion">Negocios</h2>
		</div>
		<a href="productos-y-servicios.html">Productos y Servicios</a>
		<a href="compra-y-venta.html">Compra y Venta</a>
		<a href="empleo.html">Empleo</a>

		<div class="negociosMas">
			<div class="negociosMasH"></div>
			<div class="negociosMasV"></div>
		</div>
	</section>

	<section class="emergencia">
		<div class="contentTituloSeccion">
			<h2 class="tituloSeccion">#Emergencia</h2>
		</div>
		<h3 class="emergenciaNumero">066</h3>
		<h2 class="emergenciaServicio">Emergencias</h2>
		<h3 class="emergenciaNumero">058</h3>
		<h2 class="emergenciaServicio">Bomberos</h2>
		<h3 class="emergenciaNumero">068</h3>
		<h2 class="emergenciaServicio">Cruz Roja</h2>

		<div class="emergenciaMas">
			<div class="emergenciaMasH"></div>
			<div class="emergenciaMasV"></div>
		</div>
	</section>

	<footer>
		<section class="footer">
			<div class="fup"></div>
				<a href="">Nosotros</a>
				<a href="">Contacto</a>
				<a href="">Terminos de Servicio</a>
				<a href="">Mapa del Sitio</a>
			<div class="oscartti">
				<img src="images/oscartti.png" width="250px" height="70px">
			</div>
		</section>
	</footer>
</body>
</html>