@import url("http://fonts.googleapis.com/css?family=Lobster|Lora|Roboto+Condensed:400,700");
body nav {
  background: #ccc;
  padding: 1px 0px;
}
footer {
  text-align: center;
}
footer a {
  color: #cd6;
  display: block;
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
  text-decoration: none;
  padding: 0.5em 0em;
}
footer .fup {
  height: 20px;
  background-color: #000;
  border-bottom: 2px solid #777;
}
.menu {
  margin-bottom: 1.5em;
}
.menu ul {
  margin: 0;
  padding: 0;
}
.menu ul li {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  display: block;
  margin: 1.5px;
}
.menu ul li a {
  color: #fff;
  text-decoration: none;
}
.menu li {
  text-shadow: rgba(0,0,0,0.4) 2px 2px 2px;
}
.cabecera {
  background-image: url("../images/header.jpg");
  background-size: cover;
  height: 100px;
  position: relative;
  text-shadow: rgba(0,0,0,0.8) 0.15em 0.15em 0.05em;
}
.cabecera .titulo {
  font-family: 'Lobster', cursive;
  font-size: 2.3em;
  color: #fff;
  padding-left: 0.5em;
  padding-bottom: 0.2em;
  position: absolute;
  bottom: 0.2em;
}
.contenedor-seccion {
  font-family: 'Lora', serif;
}
.menuNoticias {
  background: #88b225;
}
.menuGaleria {
  background: #aecc53;
}
.menuNegocios {
  background: #bfd77a;
}
.menuEmergencia {
  background: #eee;
  color: #e30613;
}
.emergencia .contenedor-seccion {
  border-bottom: 2px solid #e30613;
  margin-bottom: 1em;
}
.emergencia .contenedor-seccion .seccion {
  color: #fff;
  background: #e30613;
  margin: 0;
}
.emergencia .emergenciaNumero,
.emergencia .emergenciaServicio {
  font-family: 'Roboto Condensed', serif;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.emergencia .emergenciaNumero:nth-child(2) {
  font-size: 3.5em;
}
.emergencia .emergenciaServicio:nth-child(3) {
  font-size: 2em;
}
.emergencia .emergenciaNumero {
  font-size: 2.5em;
}
.emergencia .emergenciaServicio {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
.emergenciaMas {
  margin: 2em auto;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: #e30613;
  position: relative;
}
.emergenciaMasH {
  background: #fff;
  width: 30px;
  height: 3px;
  left: 7.5px;
  top: 21px;
  position: absolute;
}
.emergenciaMasV {
  background: #fff;
  width: 3px;
  height: 30px;
  left: 21px;
  top: 7.5px;
  position: absolute;
}
.fechaNoticia {
  color: #9c9c9b;
  font-family: 'Roboto Condensed', serif;
  font-size: 0.8em;
  font-weight: 700;
  margin: 0 0.5em;
}
.footer {
  background-color: #222;
}
.footer .oscartti {
  background-color: #fff;
  border-top: 25px solid #000;
}
.galeria .contenedor-seccion {
  border-bottom: 2px solid #e6007e;
  margin-bottom: 1em;
}
.galeriaImageContainer:nth-child(2) {
  background-image: url("../images/img01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 270px;
  width: 99%;
  margin: 0.6em auto;
  position: relative;
}
.galeriaImageContainer:nth-child(3) {
  background-image: url("../images/img02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 270px;
  width: 99%;
  margin: 0 auto;
  position: relative;
}
.galeriaImageDescription {
  background: rgba(0,0,0,0.5);
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  height: 65px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0.5em 0 0 1.5em;
}
.galeriaImageDescription .imgTitulo {
  font-size: 1.5em;
  margin: 0;
}
.galeriaImageDescription .autor {
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
}
.galeria .seccion {
  background: #e6007e;
  color: #fff;
  margin: 0;
}
.galeriaMas {
  margin: 2em auto;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: #e6007e;
  position: relative;
}
.galeriaMasH {
  background: #fff;
  width: 30px;
  height: 3px;
  left: 7.5px;
  top: 21px;
  position: absolute;
}
.galeriaMasV {
  background: #fff;
  width: 3px;
  height: 30px;
  left: 21px;
  top: 7.5px;
  position: absolute;
}
.negocios a {
  color: #222;
  font-family: 'Roboto Condensed', serif;
  font-size: 1.5em;
  font-weight: 700;
  margin: 1em auto;
  text-decoration: none;
  display: block;
  text-align: center;
}
.negocios .contenedor-seccion {
  border-bottom: 2px solid #ffed00;
  margin-bottom: 1em;
}
.negocios .contenedor-seccion .seccion {
  color: #555;
  background: #ffed00;
  margin: 0;
}
.negociosMas {
  margin: 2em auto;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: #ffed00;
  position: relative;
}
.negociosMasH {
  background: #555;
  width: 30px;
  height: 3px;
  left: 7.5px;
  top: 21px;
  position: absolute;
}
.negociosMasV {
  background: #555;
  width: 3px;
  height: 30px;
  left: 21px;
  top: 7.5px;
  position: absolute;
}
.noticias {
  margin-bottom: 2.5em;
}
.noticias img {
  display: none;
}
.noticias h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1em;
  line-height: 1.1;
  margin-bottom: 0;
  margin-top: 0.6em;
  padding-bottom: 0;
  padding-left: 0.3em;
}
.noticias a {
  color: #333;
  text-decoration: none;
}
.noticias p {
  font-family: 'Loto', serif;
  font-size: 1.1em;
  margin-top: 0.3em;
  margin-bottom: 1.6em;
  padding-left: 0.3em;
  padding-top: 0;
}
.noticias .contenedor-seccion {
  border-bottom: 2px solid #2daae1;
}
.noticias .noticiasMas {
  margin: 0 auto;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: #2daae1;
  position: relative;
}
.noticias .noticiasMasH {
  background: #fff;
  width: 30px;
  height: 3px;
  left: 7.5px;
  top: 21px;
  position: absolute;
}
.noticias .noticiasMasV {
  background: #fff;
  width: 3px;
  height: 30px;
  left: 21px;
  top: 7.5px;
  position: absolute;
}
.noticias .seccion {
  background: #2daae1;
  color: #fff;
  margin: 0;
}
.seccion {
  border-radius: 0 0 0 0;
  font-size: 1.3em;
  padding: 0.1em 0.7em 0 0.7em;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  header {
    box-shadow: 0 5px 0 rgba(50,50,230,0.2);
    z-index: 1;
  }
  .menu ul {
    background: #5b6;
  }
  .menu ul li {
    background: none;
    display: inline-block;
    padding: 0 1.5em 0 1.5em;
    margin: 0;
  }
  .noticias-contenido {
    overflow: hidden;
    margin: 1em 0.5em 2em 0.5em;
  }
  .noticias-contenido img {
    display: block;
    height: 150px;
    width: 100%;
  }
  .noticias-contenido article {
    display: inline-block;
  }
  .noticias-contenido article:nth-child(1) {
    background: #f5f5f5;
    float: left;
    width: 48%;
  }
  .noticias-contenido article:nth-child(2),
  .noticias-contenido article:nth-child(3) {
    width: 48%;
    margin-left: 2%;
  }
  .noticias-contenido article:nth-child(2) h3,
  .noticias-contenido article:nth-child(3) h3 {
    margin: 0;
  }
  .noticias-contenido a {
    display: block;
  }
}
